<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pulse Application</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    {{!-- <link rel="shortcut icon" type="image/x-icon" href="http://www.google.com/s2/favicons?domain=www.google.de" /> --}}

    {{!-- <link rel="shortcut icon" href="#"> --}}

</head>
<body>
    {{{body}}}
</body>

</html>