.logo-image{
  width: 140px;
  overflow: hidden;
  padding: 10px;
  margin: auto;
}

.health-asst-img{
  width: 250px;
  margin: auto;
}

.wealth-asst-img{
  width: 250px;
  margin: auto;
  padding: 10px;
}

.wealth-asst-txt{
  text-align: center;
}

