<div class="container">
    <div class="card card-body">
        <h3 class="text-danger text-center">Wealth Tracking</h3>
        <h5 class="text-center">With these tracking tools, you can take note of your budgets and expenses</h5>

        <div class="container">
            <div class="row mb-2">

                <div class="card card-body">
                    <a class="" href="/wealth/tracking/budget">
                        <div class="wealth-asst-img">
                            <img src="/img/wealthT-budget.png" class="img-fluid">
                        </div>
                    </a>
                    <h4 class="text-center">Budget</h4>
                </div>
                <div class="card card-body">
                    <a class="" href="/wealth/tracking/expense">
                        <div class="wealth-asst-img">
                            <img src="/img/wealthT-expenses.png" class="img-fluid">
                        </div>
                    </a>
                    <h4 class="text-center">Expenses</h4>
                </div>


            </div>
        </div>
    </div>

</div>
</div>