<div class="container">
    <div class="card card-body">
        <h3 class="text-danger text-center">Health Assistant</h3>
        <h5 class="text-center">Get relevant insights and solutions specially for your needs</h5>

        <div class="container">
            <div class="row mb-2">

                <div class="card card-body">
                    <a class="" href="/health/report/">
                        <div class="health-asst-img">
                            <img src="/img/healthA-patient.png" class="img-fluid">
                        </div>
                    </a>
                    <h4 class="text-center">Report</h4>
                </div>
                <div class="card card-body">
                    <a class="" href="/health/tracking/">
                        <div class="health-asst-img">
                            <img src="/img/healthA-doc.png" class="img-fluid">
                        </div>
                    </a>
                    <h4 class="text-center">Tracking</h4>
                </div>
                <div class="card card-body">
                    <a class="" href="#">
                        <div class="health-asst-img">
                            <img src="/img/healthA-target.png" class="img-fluid">
                        </div>
                    </a>
                    <h4 class="text-center">Goals</h4>
                </div>

            </div>
        </div>
    </div>

</div>
</div>