<div class="container">
    <div class="card card-body">
        <h3 class="text-danger text-center">Wealth Assistant</h3>
        <h5 class="text-center">Get insights on your budgets and savings!</h5>

        <div class="container">
            <div class="row mb-2">

                <div class="card card-body">
                    <a class="" href="#">
                        <div class="wealth-asst-img">
                            <img src="/img/wealthA-dashboard.png" class="img-fluid">
                        </div>
                    </a>
                    <h4 class="wealth-asst-txt">Overall Dashboard</h4>
                </div>

                <div class="card card-body">
                    <a class="" href="/wealth/tracking/">
                        <div class="wealth-asst-img">
                            <img src="/img/wealthA-tracking.png" class="img-fluid">
                        </div>
                    </a>
                    <h4 class="wealth-asst-txt">Trackers</h4>
                </div>
            </div>
        </div>
    </div>
</div>
